* {
    box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
    float: left;
    width: 30%;
    max-width: 290px;
    background-color: rgba(255, 255, 255, .02);
    border-radius: 25px;
    border-left: 1px dashed rgba(244, 123, 32, 1);
    border-right: 1px dashed rgba(244, 123, 32, 1);
    margin: 3px; 
    padding: 8px;
}

/* Style the list */
.price {
    list-style-type: none;
    background-color: rgba(244, 123, 32, 0);
    border: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.5s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

/* Pricing header */
.price .header {
    background-color: rgba(244, 123, 32, 1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: bold;
}

/* List items */
.price li {
    border-bottom: none;
    padding: 20px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    background-color: rgba(0, 0, 0, 1);
    font-size: 20px;
}

/* The "Sign Up" button */
.button {
    background-color: #4CAF50;
    border: none;
    color: rgba(0, 0, 0, 1);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}