---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';


$scotch-primary: rgb(255, 69, 69);
$scotch-secondary: #FF7B7B;

%oswald { font-family: 'Oswald', sans-serif; }
%roboto { font-family: 'Roboto Condensed', sans-serif; }


body {
    @extend %roboto;
    -webkit-font-smoothing: antialiased;
}



body, html {
    width: 100%;
    margin: 0px;
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
}

.splash {
    position: relative;
    width: 1920px;
    height: 100vh;
}

.bg {
    background-image: url('../graphics/splash-bg.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 100%;
    background-attachment: fixed;
}

.masthead {
    position: fixed;
    width: 800px;
    height: 100vh;
    top: 90px;
    left: 90px;
    background: url('../graphics/stagestop-logo-masthead-lg.png') left top no-repeat;
    background-size: 597px 211px; 
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    z-index: 101;
}

.cover {
    position: relative;
    height: auto;
    background-color: transparent;
    background-image: url();
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% auto;
}

.section {
    position: relative;
    height: auto;
    min-height: 99vh;
    background-color: transparent;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}

.section div {
    position: relative;
    background-color: inherit;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
}

.section p, ul, h1, h2, h3, h4, h5 {
    position: relative;
    width: 100%;
    min-width: 290px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; 
    font-size: 14pt;
}

.section ul {
    position: relative;
    width: 100%;
    min-width: 200px;
    max-width: 800px;
    padding-right: 25px;
    font-weight: normal;
    font-size: 12pt;
    text-indent: 0px;
    color: rgba(255, 255, 255, 1);
}

.section li {
    margin-bottom: 15px;
}

.footer {
    position: fixed;
    width: 100%;
    height: 50px;
    right: 0px;
    bottom: 0px;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, .8);
    border-top: dashed 1px rgba(244, 123, 32, 1);
    text-align: center;
    z-index: 99;
}


p {
    font-family: 'Alegreya', serif;
    font-size: 14pt;
    text-indent: 10px;
    color: rgba(255, 255, 255, 1)
}

hr {
    width: 70%;
    height: 100px;
    background-color: transparent;
    background-image: url('../graphics/hr1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border: none;
    opacity: .08;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Alegreya', serif;
    font-weight: normal;
    font-size: 30pt;
    text-align: center;
    color: rgba(244, 123, 32, 1);
}

h2 {
    font-family: 'Alegreya', serif;
    font-weight: normal;
    font-size: 24pt;
    text-align: center;
    color:  rgba(244, 123, 32, 1);
}

h3 {
    font-family: 'Alegreya', serif;
    font-weight: normal;
    font-size: 14pt;
    text-align: left;
    color: rgba(244, 123, 32, 1);
}

h4 {
    font-family: 'Alegreya', serif;
    font-weight: normal;
    font-size: 36pt;
    text-align: center;
    color: rgba(244, 123, 32, 1);
}

h5 {
    position: relative;;
    font-family: 'Alegreya', serif;
    font-weight: normal;
    font-size: 16pt;
    text-align: right;
    margin-right: 75px;
    color: rgba(244, 123, 32, 1);
}

.navbar {
    width: 250px;
    height: 100vh;
    top: 0px;
    background-color: rgba(0, 0, 0, .8);
    padding-top: 30vh;
    border-right: dashed 1px rgba(244, 123, 32, 1);
    z-index: 100;
    overflow-x: hidden;
    cursor: pointer;
}

.navbar a {
    font-family: 'Alegreya', serif;
    width: 250px;
    height: auto;
    background-color: transparent;
    outline: none;
}

a:hover {
    width: 250px;
    height: auto;
    background-color: rgba(244, 123, 32, 1);
    outline: none;
}



@media only screen and (max-width : 991px) {
pre {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width : 480px) {
    .tile .featurette, .topper {
        height: 300px;
    }

    h1.special,
    .tile h2 {
        font-size: 40px;
        line-height: 44px;
    }

    .tile .inner-guts {
        padding: 15px 25px;
    }

    .tile .excerpt {
        font-size: 22px;
        line-height: 35px;
    }

.bg {
    background-image: url('../graphics/splash-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
    background-attachment: fixed;
}

.navbar {
    width: 100%;
    height: auto;
    top: 0px;
    background-color: rgba(0, 0, 0, .95);
    padding-top: 0vh;
    border-bottom: dashed 1px rgba(244, 123, 32, 1);
    border-right: none;
}

.cover {
    position: relative;
    height: auto;
    padding-top: 100px;
    background-color: transparent;
    background-image: url();
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% auto;
}

.masthead {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 80px;
    left: 0px;
    background: url('../graphics/stagestop-logo-masthead-lg.png') center top no-repeat;
    background-size: 300px auto; 
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    z-index: 100;
}

.footer {
    padding-top: 5px;

}

hr {
    width: 100%;
    height: 50px;
    background-color: transparent;
    background-image: url('../graphics/hr1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    border: none;
    opacity: .8;
}

}