{% include header.html %}

{% include hero.html %}

<div class="row">
    <div class="col-lg-2"></div>

    <div id="bm" class="col-lg-8 section">
      
    <div class="googleCalendar">
      <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23000000&amp;src=stagestopcalendar%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" style="border-width:0" frameborder="0" scrolling="no"></iframe>
    </div>

      <hr>

        {{ content }}
      
    </div>

    <div class="col-lg-2"></div>
</div>
{% include footer.html %}