
    
        
            <div class="row">
                <div class="col-md-12 footer">
                    <div class="row">
                        <div class="col-lg-12">
                            
                            <div class="col-lg-2"></div>

                            <div class="col-lg-4">

                                <h2>Atwater</h2>

                                <div class="col-lg-6">
                                <p> Monday - Friday <br>
                                    10:00am - 8:00pm <br>
                                    Saturday - Sunday <br>
                                    10:00am - 6:00pm
                                </p>
                                </div>
                                
                                <div class="col-lg-6 vr">
                                <p> 601 Atwater Blvd. Atwater, Ca 953301 <br>
                                    Phone: (209) 358-4867 <br>
                                    Fax: (209) 358-4867 <br>
                                </p>
                                </div>
                            </div>

                            <div class="col-lg-4">

                                <h2>Mariposa</h2>

                                <div class="col-lg-6">
                                <p> Monday - Friday <br>
                                10:00am - 8:00pm <br>
                                Saturday - Sunday <br>
                                10:00am - 6:00pm
                                </p>
                                </div>
                                            
                                <div class="col-lg-6">
                                <p> 601 Atwater Blvd. Atwater, Ca 953301 <br>
                                Phone: (209) 358-4867 <br>
                                Fax: (209) 358-4867 <br>
                                </p>
                                </div>    
                            </div>

                            <div class="col-lg-2"></div>

                        </div>
                    </div>
                    
                    <div class="row">
                            <div class="col-lg-12">
                                {{ site.data.global.footer_text }}
                            </div>
                        </div>
                </div>
            </div>
        
    </div>


    <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/power.js"></script>
    <script src="/js/css3-animate-it.js"></script>
    

    </body>
</html>