{% assign slideFilter = {{include.filter}} %}
{% assign slides = site.data.hero | where:"target",slideFilter %}

<div id="mainslide" class="carousel slide hero" data-ride="carousel"> 
    <!-- indicators -->
    {% assign counter = 0 %}
    <ol class="carousel-indicators">
      {% for slide in slides %}
      <li data-target="#{{include.slide_id}}" data-slide-to="{{ counter }}" {% if counter == 0 %}class="active"{% endif %}></li>
      {% capture counter %}{{counter | plus: 1}}{% endcapture %}
      {% endfor %}
    </ol>
       
     <!--slide wrapper -->
     <div class="carousel-inner" role="listbox">
     
    {% assign counter = 0 %}
    {% for slide in slides %}
        <div class="row item{% if counter == 0 %} active{% endif %}">
            <div class="col-lg-12">
                <img src="{{ slide.image }}" class="float-right" />
            </div>
        </div>
        {% capture counter %}{{counter | plus: 1}}{% endcapture %}
    {% endfor %}
 </div>
</div>
</div>