<script src="https://www.smartwaiver.com/m/webpl/f.js?webpl_waiver=splashpage-18496&webpl_title=Sign%20our%20waiver&webpl_align=Right&webpl_fontsize=20&webpl_background=%23000000&webpl_fontcolor=%23f47b20&webpl_font=Cambria" type="text/javascript"></script>

<script>
    function initMap() {
      var uluru = {lat: 37.3439589, lng: -120.6052061};
      var uluru2 = {lat: 37.4884843, lng: -119.9719196};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 9,
        center: uluru
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
        
      });
      var marker = new google.maps.Marker({
        position: uluru2,
        map: map
        
      });
    }
  </script>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{ site.data.global.googleaccess }}&callback=initMap">
</script>