/*------- black color -------*/

$primary: #000;
$primary-hover: #222;
$primary-transparent: rgba(0,0,0,0.9);
$primary-transparent-2: rgba(0,0,0,0.75);

/*------- end of black color -------*/

@import "template-styles";