/*------- blue color -------*/

$primary: #4753cf;
$primary-hover: #303ba6;
$primary-transparent: rgba(71,83,207,0.9);
$primary-transparent-2: rgba(71,83,207,0.75);

/*------- end of blue color -------*/

@import "template-styles";