/*------- brown color -------*/

$primary: #a58866;
$primary-hover: #6e5538;
$primary-transparent: rgba(165,136,102,0.9);
$primary-transparent-2: rgba(165,136,102,0.75);

/*------- end of brown color -------*/

@import "template-styles";