/*------- purple color -------*/

$primary: #a756c8;
$primary-hover: #773293;
$primary-transparent: rgba(167,86,200,0.9);
$primary-transparent-2: rgba(167,86,200,0.75);

/*------- end of purple color -------*/

@import "template-styles";