/*------- red color -------*/

$primary: #f02e2e;
$primary-hover: #a11a1a;
$primary-transparent: rgba(240,46,46,0.9);
$primary-transparent-2: rgba(240,46,46,0.75);

/*------- end of red color -------*/

@import "template-styles";