/*------- green color -------*/

$primary: #9ccd45;
$primary-hover: #74a125;
$primary-transparent: rgba(156,205,69,0.9);
$primary-transparent-2: rgba(156,205,69,0.75);

/*------- end of green color -------*/

@import "template-styles";