/*------- white color -------*/

$primary: #fff;
$primary-hover: #eee;
$primary-transparent: rgba(255,255,255,0.9);
$primary-transparent-2: rgba(255,255,255,0.75);

/*------- end of white color -------*/

@import "template-styles";