{% include header.html %}

{% include hero.html %}

<div class="row rowbg">
        
    <div class="col-lg-4"></div>
        
    <div id="bm" class="col-lg-4 section">
                <h1>ARCHERY RANGE MEMBERSHIP PRICING</h1>
            <div class="columns">
                    <ul class="price">
                      <li class="header">Individual</li>
                      <li class="grey">$150.00 / Year</li>
                      <li>Unlimited Range Time</li>
                      <li>2 Guest Passes <br> (per membership year)</li>
                      <li>Lane Reservations</li>
                      <li>Free Target w/ Each Visit</li>
                    </ul>
            </div>
            
            <div class="columns">
                    <ul class="price">
                      <li class="header">Double Membership</li>
                      <li class="grey">$200.00 / Year</li>
                      <li>Unlimited Range Time</li>
                      <li>4 Guest Passes <br> (per membership year)</li>
                      <li>Lane Reservations</li>
                      <li>Free Target w/ Each Visit</li>
                    </ul>
            </div>

    </div>
     
    <div class="col-lg-4 section2">
        
    </div>



</div>




{% include footer.html %}
