{% include header.html %}

{% include hero.html %}

<div class="row rowbg">
        
    <div class="col-lg-2"></div>
        
    <div id="bm" class="col-lg-8 section">
                <h1>ARCHERY RANGE MEMBERSHIP PRICING</h1>
            <div class="columns">
                    <ul class="price">
                      <li class="header">Individual</li>
                      <li class="grey">$150.00 / Year</li>
                      <li>Unlimited Range Time</li>
                      <li>Lane Reservations</li>
                      <li>Free Target w/ Each Visit</li>
                    </ul>
            </div>
            
            <div class="columns">
                    <ul class="price">
                      <li class="header">Double Membership</li>
                      <li class="grey">$200.00 / Year</li>
                      <li>Unlimited Range Time</li>
                      <li>3 Guest Passes <br> (per membership year)</li>
                      <li>Lane Reservations</li>
                      <li>Free Target w/ Each Visit</li>
                    </ul>
            </div>

            <div class="smallprint">
            <p>*FAMILY MEMBERSHIPS - PARENTS AND UP TO FOUR CHILDREN under the age of 21<br>
            (After child turns 21, they can remain on an existing lifetime membership for an additional $1000 each) <br>
            *DUO MEMBERSHIP - TWO FAMILY MEMBERS IN THE SAME HOUSEHOLD</p>
            </div>

    </div>
     
    <div class="col-lg-2 section2">
        
        <h2>Forms</h2>
        <div><a href="/pdf/ArcheryLaborServices.pdf" target="_blank"><img src="/graphics/adobe-pdf.png" />Archery Labor Services</a></div>
        <div><a href="/pdf/ArcheryWaiver.pdf" target="_blank"><img src="/graphics/adobe-pdf.png" />Archery Waiver</a></div>
        <div><a href="/pdf/CCWCONFIRMATION.pdf" target="_blank"><img src="/graphics/adobe-pdf.png" />CCW Confirmation</a></div>
        <div><a href="/pdf/CCWSERIAL.pdf" target="_blank"><img src="/graphics/adobe-pdf.png" />CCW Serial</a></div>

    </div>



</div>




{% include footer.html %}