{% include header.html %}

    

{% include title-group.html %}
		
		<div class="row">
    		<div class="col-lg-6 cover">
					<div id="mainslide" class="carousel slide hero" data-ride="carousel"> 
							<!-- indicators -->
							<ol class="carousel-indicators">
							   <li data-target="#mainslide" data-slide-to="0" class="active"></li>
							   <li data-target="#mainslide" data-slide-to="1" ></li>
							   <li data-target="#mainslide" data-slide-to="2" ></li>
							   <li data-target="#mainslide" data-slide-to="3" ></li>
							</ol>
							 
							 <!--slide wrapper -->
							 <div class="carousel-inner" role="listbox">
							 
									<div class="row item active">
										 <div class="col-lg-12 hero hero1">
											<p>local Shooting Sports, Archery and Fishing headquarters!!!!</p>
											<p>Stop in today to browse our excellent selection of firearms, ammo, archery supplies and fishing tackle.</p>
										 </div>
									</div>
								 
									<div class="row item">
										<div class="col-lg-12 hero hero2">
												
										</div>
									</div>
								 
									<div class="row item">
										<div class="col-lg-12 hero hero3">
												
										</div>
									</div>
								 
									<div class="row item">
										<div class="col-lg-12 hero hero4">
													
										</div>
									</div>      
							 </div>
					 </div>
			</div>

    		<div id="bm" class="col-lg-6 section">

				  {{ content }}
				  
				  <div class="sectionfooter"></div>
     		</div>
  		</div>

{% include footer.html %}