{% include header.html %}

		
		<div class="row rowbg">

            <div class="col-lg-2"></div>

			<div id="bm" class="col-lg-8 section">

                {{ content }}

                <hr>

                {% include archeryservices.html %}
            </div>

			<div class="col-lg-2 section2">
				<h2>Forms</h2>
				<div><a href="/pdf/ccw-confirmation.pdf" target="_blank"><img src="/graphics/adobe-pdf.png" />CCW Confirmation</a></div>
				<div><a href="/pdf/ccw-serial.pdf" target="_blank"><img src="/graphics/adobe-pdf.png" />CCW Serial</a></div>
			</div>
		</div>


{% include footer.html %}         