{% include header.html %}

{% include hero.html filter="home" slide_id="home-hero" %}

<div class="row">
    <div class="col-lg-2"></div>

    <div id="bm" class="col-lg-8 section">
      
    <div class="googleCalendar">
      <iframe src="https://calendar.google.com/calendar/embed?src=stagestopcalendar%40gmail.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

      <hr>

        {{ content }}
      
    </div>

    <div class="col-lg-2"></div>
</div>
{% include footer.html %}