---
layout: default
---
<section class="portfolio-type1 w-text bg-deepgrey">
    <div class="container">
        <ul class="row portfolio list-unstyled shuffle" id="grid" style="position: relative; overflow: hidden; height: 1231px; transition: height 250ms ease-out;">
            {% for post in site.posts %}
            <!-- project -->
            <li class="col-md-6 col-lg-4 project shuffle-item filtered" data-groups="[&quot;business&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; transition: transform 250ms ease-out, opacity 250ms ease-out;">
                <figure class="portfolio-item">
                    <div class="hovereffect">
                        <img class="img-responsive" src="{{ post.image }}" alt="">
                        <a href="index.html">
                            <div class="overlay">
                                <div class="hovereffect-title">
                                    <i class="md-icon dp36 text-white">visibility</i>
                                    {{ post.content | strip_html | truncatewords: 50 }}
                                </div> <!-- / hovereffect-title -->
                            </div> <!-- / overlay -->
                        </a> <!-- / project link -->
                    </div>
                    <!-- / hovereffect -->
                    <h5 class="project-title">{{ post.title }}</h5>
                </figure> <!-- / portfolio-item -->
            </li> <!-- / project -->
            {% endfor %}
        </ul>
    </div> <!-- container -->
</section>
