{% include header.html %}

{% include title-group.html %}

<div class="row fullscreen">
    <div  id="bm" class="col-lg-12">

        <div class="gallerynav">
            
            <h1>FEATURED GUNS</h1>

		    <ul>
                {% for post in site.posts %}
                <li><a href="{{ post.url }}/#bm">{{ post.content | random | first_image | truncatewords:15 }}</li>
                {% endfor %}
            </ul>
        </div>
    
        
    </div>
</div>

<div class=" row sectionfooter"></div>

{% include footer.html %}
