{% include header.html %}

{% include hero.html filter="home" slide_id="home-hero" %}

<div class="row rowbg">
        
    <div class="col-lg-3"></div>
        
    <div id="bm" class="col-lg-6 section">
                <h1>SHOOTING RANGE MEMBERSHIP PRICING</h1>

        <div class="row">
                <div class="columns">
                    <ul class="price">
                      <li class="header">Single Shot</li>
                      <li class="grey">$300.00 / Year</li>
                      <li>Unlimited Range Time</li>
                      <li>2 Guest Passes <br> (per membership year)</li>
                      <li>1 Free Gun Rental <br> (per membership year)</li>
                      <li>Lane Reservations</li>
                      <li>Free Target w/ Each Visit</li>
                      <li class="subheader">Archery Add-On Bundle</li>
                      <li class="grey">$75.00 / 1 Year</li>
                    </ul>
                </div>
            
                <div class="columns">
                    <ul class="price">
                      <li class="header">Double Barrel</li>
                      <li class="grey">$400.00 / Year</li>
                      <li>Unlimited Range Time</li>
                      <li>4 Guest Passes <br> (per membership year)</li>
                      <li>2 Free Gun Rental <br> (per membership year)</li>
                      <li>Lane Reservations</li>
                      <li>Free Target w/ Each Visit</li>
                      <li class="subheader">Archery Add-On Bundle</li>
                      <li class="grey">$100.00 / 1 Year</li>
                    </ul>
                </div>

                <div class="columns">
                    <ul class="price">
                      <li class="header">Six Shooter</li>
                      <li class="grey">$450.00 / Year</li>
                      <li>Unlimited Range Time</li>
                      <li>6 Guest Passes <br> (per membership year)</li>
                      <li>3 Free Gun Rental <br> (per membership year)</li>
                      <li>Lane Reservations</li>
                      <li>Free Target w/ Each Visit</li>
                    </ul>
                </div>
        </div>

        <div class="row">
            <div class="columns">
                    <ul class="price">
                      <li class="header">Single Shot</li>
                      <li class="grey">$2500.00 / Lifetime</li>
                      <li>Unlimited Range Time</li>
                      <li>10 Guest Passes <br> (per membership year)</li>
                      <li>5 Free Gun Rental <br> (per membership year)</li>
                      <li>5% Ammunition Discount</li>
                      <li>10% Accessories & Competitions Discount</li>
                      <li>Lane Reservations</li>
                      <li>Free Target w/ Each Visit</li>
                    </ul>
            </div>

            <div class="columns">
                    <ul class="price">
                      <li class="header">Double Barrel</li>
                      <li class="grey">$3500.00 / Lifetime</li>
                      <li>Unlimited Range Time</li>
                      <li>10 Guest Passes <br> (per membership year)</li>
                      <li>5 Free Gun Rental <br> (per membership year)</li>
                      <li>5% Ammunition Discount</li>
                      <li>10% Accessories & Competitions Discount</li>
                      <li>Lane Reservations</li>
                      <li>Free Target w/ Each Visit</li>
                    </ul>
            </div>

            <div class="columns">
                    <ul class="price">
                      <li class="header">Six Shooter Family</li>
                      <li class="grey">$4500.00 / Lifetime</li>
                      <li>Unlimited Range Time</li>
                      <li>10 Guest Passes <br> (per membership year)</li>
                      <li>5 Free Gun Rental <br> (per membership year)</li>
                      <li>5% Ammunition Discount</li>
                      <li>10% Accessories & Competitions Discount</li>
                      <li>Lane Reservations</li>
                      <li>Free Target w/ Each Visit</li>
                    </ul>
            </div>
        </div>
        
            <p class="smallprint">*FAMILY MEMBERSHIPS - PARENTS AND UP TO FOUR CHILDREN under the age of 21<br>
            (After child turns 21, they can remain on an existing lifetime membership for an additional $1000 each) <br>
            *DUO MEMBERSHIP - TWO FAMILY MEMBERS IN THE SAME HOUSEHOLD</p>

    </div>
     
    <div class="col-lg-3 section2">

    </div>



</div>




{% include footer.html %}
